# Created by https://www.gitignore.io/api/sbt,scala

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib/
lib_managed/
src_managed/
project/project/
project/target/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

build
.settings
.classpath
.project

*.iml
*.ipr
*.iws
.idea
out

.history
.scala_dependencies
.cache-main

# End of https://www.gitignore.io/api/sbt,scala


.DS_Store
